<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define the Address bean -->
    <bean id="adress" class="com.springcore_autowiring.Adress">
    
    <property name="city" value="pune"></property>
    <property name="country" value="india"></property>
    
    </bean>
    
   
    
   

    <!-- Define the Student bean and enable autowiring -->
    
    
    <bean id="student" class="com.springcore_autowiring.Student" autowire="byType">
    
    <property name="id" value="101"></property>
    <property name="name" value="sahil"></property>
    
    </bean>
   
</beans>
